* {
  font-size: 18px;
}
.header {
  width: 100%;
  margin-bottom: 10px;
}
.header p {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}
.header__container{
  width: 100%;
  border: 1px solid green;
  text-align: right;
}
.nav {
  margin-bottom: 10px;
}
.nav p {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}
.nav__container {
  width: 100%;
  border: 1px solid red;
  text-align: center;
}
.content {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid green;
}
.content__img {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid red;
  max-width: 30%;
}
.content__img img{
  max-width: 100%;
}
.content__text {
  vertical-align: middle;
  border: 1px solid red;
  display: inline-block;
  text-align: justify;
  max-width: 30%;
}
.aside {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid red;
  max-width: 30%;
}
.footer {
  width: 100%;
  margin-bottom: 10px;
}
.footer p {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}
.footer__container{
  width: 100%;
  border: 1px solid green;
  text-align: center;
}