* {
  font-size: 18px;
  box-sizing: border-box;
}
.header {
  width: 100%;
  margin-bottom: 10px;
  background-color: lightpink;
}
.header p {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 10px;
}
.header__container{
  width: 100%;
  /* border: 1px solid green; */
  text-align: right;
}
.header-text {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  background-color: lightblue;
}
.header-text h2 {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 10px;
}
.header-text__container{
  width: 100%;
  /* border: 1px solid green; */
  text-align: center;
}
.nav {
  margin-bottom: 10px;
  background-color: lightgreen;
}
.nav p {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 10px;
}
.nav__container {
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
}
.content-wrapper {
  display:flex;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid black; */
  background-color: lightgoldenrodyellow;
}
.content-img-text {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  height: 80%;
  /* border: 1px solid orange; */
}
.content__img {
  align-self: center;
  /* border: 1px solid red; */
  max-width: 50%;
}
.content__img img{
  max-width: 100%;
}
.content__text {
  align-self: center;
  /* border: 1px solid red; */
  text-align: justify;
  padding: 0 10px;
  max-width: 50%;
}
.aside {
  align-self: center;
  display: inline-block;
  /* border: 1px solid red; */
  background-color: lightsalmon;
  max-width: 20%;
  height: 100%;
}
.aside-content img{
  max-width: 100%;
}
.aside-content h2{
  text-align: center;
}
.footer {
  width: 100%;
  margin-top: 10px;
  background-color: lightpink;
}
.footer p {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 10px;
}
.footer__container{
  width: 100%;
  /* border: 1px solid green; */
  text-align: center;
}
.footer-text__container{
  width: 100%;
  height: 10%;
  /* border: 1px solid green; */
  text-align: center;
  margin: 10px 0 0 0;
  background-color: cadetblue;
}